node_modules/
.expo/
dist/
web-build/
*.log
*.tsbuildinfo

.eas-inspect-*/
eas-archive/
eas-preview-check/

ios/
android/

.kotlin/
.metro-health-check*
supabase/.temp/

.DS_Store
.env*.local

app-example/

!google-services.json